---
import { getCollection } from 'astro:content';
import Layout from '../../layouts/Layout.astro';

const { chapter } = Astro.params;

const pages = await getCollection('chapter-1');
const pageNumbers = pages.map((p) => p.data.page);
console.log("pageNumbers");
---

<Layout title="Peach Boy | Chapter 1: The Beginning">
  <div class="grid grid-cols-8">
    <div class="col-span-4">
       <div class="grid grid-cols-4 gap-4 mx-auto max-w-2xl">
         {pages.map(p => (
           <a href={`/chapter-1/${p.data.page}`}>
             <img src={`/assets/chapter-1/${p.data.page}.webp`} alt="Peach" class="max-w-16"/>
           </a>
         ))}
       </div>
    </div>
    <div class="bg-stone-100 col-span-4 p-20">
       <h1><a href="/">Peach Boy</a></h1>
       <p>This is a comic heavily inspired by the Japanese fairytale, <em>Momotaro</em>. 
          While the basic plot points of the original story have been preserved, I've expanded on the characters and the world they inhabit.
          Momotaro was the first story I ever read fully in Japanese, and this project is the longest running comic I've ever worked on. I hope you enjoy.
       </p>
    </div>
</Layout>