---
import { getEntry } from 'astro:content';
import Layout from '../layouts/Layout.astro';

---

<Layout title="Peach Boy | Momotaro Reimagined">
	<div class="flex justify-center h-screen items-center">
		<h1>Start reading <a href="/chapter-1/1">here</a>.</h1>
	</div>
</Layout>